body {
    background-color: red;
}

.box {
    display: flex;
    box-shadow: 10px 2px 5px #ccc;
    width: 100px;
    height: 100px;
    background-image: url('../img/done.png');
    background-size: cover;
}
.box1 {
    width: 100px;
    height: 100px;
    background-image: url('../img/page.png');
    background-size: cover;
}